asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
cloudinary==1.36.0
dj3-cloudinary-storage==0.0.6
Django==5.2.13
django-allauth==65.16.1
gunicorn==25.3.0
idna==3.13
load-dotenv==0.1.0
packaging==26.1
pillow==12.2.0
psycopg2==2.9.12
python-dotenv==1.2.2
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
